@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-space-grotesk: "Space Grotesk";

  /* font sizes */
  --font-size-sm: 16px;
  --font-size-base: 18px;
  --font-size-lg: 20px;

  /* Colors */
  --color-gray-100: #f1f4f8;
  --gray-50: #e2e6eb;
  --field-stroke: #cecece;
  --gray-11: #333;
  --color-gray-500: #1e1e1e;
  --snow: #fff;
  --purple: #793ef5;

  /* Gaps */
  --gap-xs: 6px;
  --gap-sm: 8px;
  --gap-md: 12px;
  --gap-lg: 20px;
  --gap-xl: 24px;

  /* Paddings */
  --padding-sm: 10px;
  --padding-md: 16px;
  --padding-lg: 24px;

  /* border radiuses */
  --br-sm: 16px;
  --br-md: 20px;
  --br-lg: 30px;

  /* Effects */
  --card-selected: 0px 24px 34px rgba(0, 0, 0, 0.12);
}
